body{
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.cartao{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    margin: 20px;
    width: 450px;
    height: 300px;   
}

.conselho-id{
    color: hsl(150, 100%, 66%);
    margin-top: 50px;
}

.conselho{
    color: aliceblue;
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
}